# Общие игнорируемые файлы для Java проектов
*.class
*.jar
*.war
*.ear
*.log
*.nar
*.zip
*.tar.gz
*.swp
*.iml
*.ipr
*.iws
*.bak
*.tmp
*.orig

# Логи и дампы
logs/
*.log
*.log.*
*.pid
*.hprof
*.dump

# Директории сборки и зависимостей
target/
build/
out/
bin/
.gradle/
.mvn/
dependency-reduced-pom.xml

# Идеи и настройки IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath

# Системные файлы
.DS_Store
Thumbs.db

# Kubernetes
**/k8s/
**/kubernetes/
**/*.kubeconfig

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars


# Maven и Gradle
.mvn/wrapper/maven-wrapper.jar
gradle-wrapper.jar
gradlew
gradlew.bat

# Прочие
**/.cache/
**/.next/
**/.nuxt/
**/.sass-cache/
**/.serverless/
**/.fusebox/
**/.dynamodb/
**/.elasticbeanstalk/
**/.quasar/
**/.vuepress/dist